/* #Fonts
================================================== */
@font-face {
  font-family: "open-sans";
  font-weight: 400;
  src: url("../font/OpenSansHebrew-Regular.ttf");
}

@font-face {
  font-family: "open-sans";
  font-weight: 600;
  src: url("../font/OpenSansHebrew-Bold.ttf");
}

/* #Global
================================================== */
body {
  font-family: 'open-sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  max-width: 100%;
  color: #393C3D;
  min-height: 100vh;
}

body.no-scroll {
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img,
video,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
}

/* #Utilities
================================================== */
.container {
  margin: 0 auto;
}

.d-desktop {
  display: block;
}

.d-mobile {
  display: none;
}

.m-0 {
  margin: 0!important;
}

.my-0 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.mr-auto {
  margin-right: auto!important;
}

.p-0 {
  padding: 0!important;
}

.regular {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

@media (max-width: 1023.98px) {
  .d-desktop {
    display: none;
  }

  .d-mobile {
    display: block;
  }

  .d-none-mobile {
    display: none !important;
  }
}

/* #Header
================================================== */
.header {
  padding: 1.8vw 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header .container {
  max-width: 96%;
  display: flex;
}

.header .logo {
  width: 8vw;
  margin-right: auto;
}

.header .logo img {
  width: 100%;
}

.header .shape-3 {
  display: none;
}

@media (max-width: 1023.98px) {
  .header {
    padding: 3.9vw 0;
  }
  
  .header .container {
    max-width: 88%;
  }

  .header .logo {
    width: 13.3vw;
    position: relative;
    z-index: 1;
  }

  .header .shape-3 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 27.3vw;
  }

  .header .shape-3 img {
    width: 100%;
  }
}

/* #Car
================================================== */
.car {
  background-color: #e6e8e7;
  position: relative;
  padding: 4.15vw 0 1.5vw 0;
}

.car .container {
  width: 85%;
  display: flex;
  align-items: center;
  margin-right: 3.8vw;
}

.car .text,
.car .img {
  position: relative;
  z-index: 1;
}

.car .text {
  flex: 0 0 35vw;
}

.car h1 {
  font-size: 1.2vw;
  margin-bottom: .5vw;
}

.car p {
  font-size: .75vw;
  max-width: 33.6vw;
}

.car .img {
  flex-grow: 1;
}

.car .img img {
  width: 100%;
}

.car .shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 34.9vw;
}

.car .shape-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14.3vw;
}

.car .shape-1 img,
.car .shape-2 img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .car {
    padding: 18.75vw 0 1.5vw 0;
  }

  .car .container {
    width: 100%;
    margin-right: auto;
    flex-direction: column-reverse;
  }

  .car .text {
    flex: 0;
    width: 85%;
    margin: 0 auto 5vw auto;
  }

  .car h1 {
    font-size: 4.1vw;
    margin-bottom: .5vw;
  }
  
  .car p {
    font-size: 3vw;
    max-width: 100%;
  }

  .car p .bold {
    margin-top: 3.75vw;
    display: block;
  }

  .car .shape-1,
  .car .shape-2 {
    display: none;
  }
}

/* #Form
================================================== */
.form {
  padding: 2.5vw 0 3vw 0;
}

.form .container {
  width: 70%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row:first-child {
  margin: 0 -.5vw;
}

.form-row:first-child > div {
  flex-grow: 1;
  padding: 0 .5vw;
}

.form-row:last-child {
  margin: .67vw -.5vw 0 -.5vw;
}

.form-group {
  flex-grow: 1;
  flex: 0 0 33.33333%;
  padding: .67vw .5vw;
}

.form-group > div {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  height: 3vw;
  padding: 0 1.8vw;
  border-radius: 12px;
}

.form input[type="text"] {
  flex-grow: 1;
  height: 2vw;
  border-radius: 5px;
  border: 1px solid #959898;
  color: #22CEB4;
  padding-right: .5vw;
  font-size: .75vw;
  width: 100%;
  min-width: 0;
  max-width: 100%;
}

.form input[type="text"]::placeholder {
  color: #22CEB4;
}

.form label {
  font-weight: 700;
  color: #22CEB4;
  font-size: .9vw;
}

.form-group p {
  color: #959898;
  font-size: .75vw;
  margin-left: .9vw;
}

.form-group-btn > div {
  padding: 0;
}

.form-group-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: 700;
  background-color: #22CEB4;
  border: none;
  border-radius: 12px;
  font-size: 1.5vw;
}

.form-group-option > div {
  background-color: transparent;
  padding-right: 0;
}

.form-group-price > div {
  border: 2px solid #959898;
  padding: 0 .5vw;
  background-color: white;
}

.form-group-price p {
  color: #22CEB4;
  text-align: center;
  width: 100%;
  font-size: 1.4vw;
  margin: 0;
}

.radio-btn,
.checkbox-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-btn input,
.radio-btn input::before,
.radio-btn input::after,
.radio-btn label,
.checkbox-btn input,
.checkbox-btn input::before,
.checkbox-btn input::after,
.checkbox-btn label {
  cursor: pointer;
}

.radio-btn input,
.checkbox-btn input {
  width: 1.3vw;
  height: 1.3vw;
  flex: 0 0 1.3vw;
  margin-left: .8vw;
  position: relative;
  border: none;
  appearance: none;
  background-color: transparent;
}

.radio-btn input::after,
.checkbox-btn input::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  z-index: 1;
}

.radio-btn input::before,
.checkbox-btn input::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  height: 0.9vw;
  width: 0.9vw;
  background-color: #22CEB4;
  border-radius: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all .3s ease;
}

.radio-btn input:checked::before,
.checkbox-btn input:checked::before {
  opacity: 1;
}

.radio-btn:not(:last-child),
.checkbox-btn:not(:last-child) {
  margin-left: .8vw;
}

@media (max-width: 1023.98px) {
  .form {
    padding: 2.66vw 0;
  }
  
  .form .container {
    width: 88%;
  }

  .form-row:first-child {
    margin: -1vw;
  }
  
  .form-row:first-child > div {
    flex: 0 0 50%;
    padding: 1vw;
  }

  .form-row:last-child {
    margin: 0;
    margin-top: 2vw;
  }
  
  .form-group {
    flex-grow: 1;
    flex: 0 0 100%;
    padding: 0;
  }

  .form-group:not(:last-child) {
    margin-bottom: 2vw;
  }
  
  .form-group > div {
    height: 8.66vw;
    padding: 0 2.35vw;
    border-radius: 5px;
  }

  .form input[type="text"] {
    flex: 0 0 48%;
    height: 8.66vw;
    padding-right: 1.33vw;
    font-size: 3vw;
  }

  .form label {
    font-size: 3vw;
  }
  
  .form-group p {
    font-size: 3vw;
    margin-left: 3vw;
  }

  .form-group-btn {
    order: 2;
  }

  .form-group-btn > div {
    padding: 0;
  }

  .form-group-btn button {
    border-radius: 5px;
    font-size: 6vw;
  }

  .form-group-price p {
    font-size: 5vw;
  }

  .radio-btn input,
  .checkbox-btn input {
    width: 4.7vw;
    height: 4.7vw;
    flex: 0 0 4.7vw;
    margin-left: 3vw;
  }

  .radio-btn input::before,
  .checkbox-btn input::before {
    height: 3.125vw;
    width: 3.125vw;
  }

  .radio-btn:not(:last-child),
  .checkbox-btn:not(:last-child) {
    margin-left: 3vw;
  }

  .form-group-option {
    background-color: #f7f7f7;
    border-radius: 5px;
  }

  .form-group-price {
    order: 1;
  }
}

/* #Footer
================================================== */
.footer {
  background-color: #e6e8e7;
  padding: .5vw 0;
}

.footer .container {
  width: 65%;
  color: #96999A;
  text-align: center;
}

.footer p {
  font-size: 1vw;
}

.footer a {
  color: #22CEB4;
}

@media (max-width: 1023.98px) {
  .footer {
    padding: 3vw 0;
  }

  .footer .container {
    width: 88%;
  }

  .footer p {
    font-size: 3vw;
  }
}